.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cxpm
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
sxpm
xpm.pc
*~
*.1
*.o
*.la
*.lo
*.po
libXpm-*.tar.*
ChangeLog
tags
